<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Catway</th>
                <th>Client</th>
                <th>Bateau</th>
                <th>Arrivée</th>
                <th>Départ</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody id="reservationsList">
            <!-- Le contenu sera chargé dynamiquement par JavaScript -->
        </tbody>
    </table>
</div>