<header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
            <div class="container">
                <a class="navbar-brand" href="/">Port Russell</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="/api/documentation">Documentation</a>
                        </li>
                        <li class="nav-item" id="loginNav">
                            <a class="nav-link" href="/">Connexion</a>
                        </li>
                        <li class="nav-item d-none" id="dashboardNav">
                            <a class="nav-link" href="/dashboard">Tableau de bord</a>
                        </li>
                        <li class="nav-item d-none" id="logoutNav">
                            <a class="nav-link" href="#" onclick="logout()">Déconnexion</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>