<div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Numéro</th>
                    <th>Type</th>
                    <th>État</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody id="catwaysList">
                <!-- Rempli dynamiquement par JavaScript -->
            </tbody>
        </table>
    </div>